<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elearning Platform</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar" th:fragment="navbar">
      <h1 class="navbar_heading">Elearning Platform</h1>
      <div class="navbar_wrapper">
        <ul class="navbar_links">
          <li th:each="link : ${links}">
            <a th:href="@{${link.href}}" th:text="${link.name}"></a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar" th:fragment="admin-navbar">
      <h1 class="navbar_heading">Elearning Platform</h1>
      <div class="navbar_wrapper">
        <ul class="navbar_links">
          <li><a href="/admin/api/admin-user">Users</a></li>
          <li><a href="/admin/api/admin-news">Newses</a></li>
          <li><a href="/admin/api/admin-notification">Notification</a></li>
          <li><a href="/post/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <nav class="navbar" th:fragment="student-navbar">
      <h1 class="navbar_heading">Elearning Platform</h1>
      <div class="navbar_wrapper">
        <ul class="navbar_links">
          <li><a href=#>Grammar</a></li>
          <li><a href=#>Vocabulary</a></li>
          <li><a href=#>Exercises</a></li>
          <li><a href=#>Homeworks</a></li>
          <li><a href="/post/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <footer th:fragment="footer" class="footer">
      <div class="footer_left">
        <p>Krystian Sadowski</p>
        <p>Aleksander Bondar</p>
        <h6>ELearning Platform 2023 &copy;</h6>
      </div>
    </footer>
  </body>
</html>
