@import url("./shared.css");

@import url("./layout/navbar.css");
@import url("./layout/footer.css");

@import url("./forms/shared_for_forms.css");

@import url("./animations.css");
@import url("./toasts.css");

@import url("./pages/news.css");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #d9d9d9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --main-black: #13131c;
  --main-white: #f1f1f1;
  --gray-scale-white: #fff;
  --main-0: #1aff1a;
  --main-1: #13aa52;
}
