<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearning Platform</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <div id="contener">
        <div id="logo">
            <h1>Elearning Platform</h1>
        </div>
        <div id="nav">
            <ol>
                <li>Niewiem</li>
                <li>Wiem</li>
                <li>Niewiem</li>
            </ol>
        </div>
        <div id="articule">
        </div>
        <div id="footer">
            Krystian Sadowski. 2023 Copy write
        </div>
    </div>

</body>
</html>