<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elearning Platform</title>
    <script type="text/javascript" th:src="@{/js/addFonts.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="main_grid">
      <nav th:replace="~{layout/layout :: navbar}"></nav>
      <main class="main_grid_wrapper">
        <div
          class="w-full flex flex-col justify-center items-center gap-[0.4rem]"
        >
          <form
            class="flex flex-col justify-center items-center gap-[0.8rem] p-[3.2rem] bg-[#F1F1F1] rounded-[0.8rem] shadow-xl"
            name="login"
            th:action="@{/login}"
            method="post"
          >
            <div class="flex flex-col">
              <label
                class="text-[1.2rem] font-[600] mb-[0.4rem] select-none"
                for="email"
                >E-mail:</label
              >
              <input
                class="p-[0.8rem] rounded-[0.4rem] border-[1px] border-solid border-[#13131C]"
                required
                type="text"
                id="email"
                name="email"
              />
            </div>
            <div class="flex flex-col">
              <label
                class="text-[1.2rem] font-[600] mb-[0.4rem] select-none"
                for="password"
                >Password:</label
              >
              <input
                class="p-[0.8rem] rounded-[0.4rem] border-[1px] border-solid border-[#13131C]"
                required
                type="password"
                id="password"
                name="password"
              />
            </div>
            <button class="main_button" type="submit">Login</button>
          </form>
        </div>
      </main>
      <footer th:replace="~{layout/layout :: footer}"></footer>
    </div>
  </body>
</html>
