<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearning Platform</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <div id="contener">
        <div id="logo">
            <h1>Elearning Platform</h1>
        </div>
        <div id="nav">
            <ol>
                <li><a href="/index">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/login">Login</a></li>
            </ol>
        </div>
        <div id="articule-login">
            <div class="form-inputs">
                <form class="form" name="login" th:action="@{/login}" method="post">
                    <input type="text" id="username" name="username"/>
                    <br>
                    <input type="password" id="password" name="password"/>
                    <div class="form-action">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer">
            Krystian Sadowski. 2023 Copy write
        </div>
    </div>

</body>
</html>